#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  main {
    width: 50vh;
    padding: 20px 20px 5px;
    margin: 0 20px;
    border: 1px solid #29292e;
    border-radius: 10px;
    box-shadow: 0 0 1px #29292e;
    background-color: #313131;
  }

  .title {
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
  }

  form input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #121212;
    color: #eee;
  }

  #tasks-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .message {
      color: #aaa;
      margin-bottom: 15px;
    }

    #checked-tasks,
    #unchecked-tasks {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #checked-tasks-container {
      position: relative;
      width: 100%;
    }

    #list-divider {
      margin-top: 10px;
      margin-bottom: 25px;
      width: 100%;
      height: 1px;
      background-color: #414141;
    }

    #clear-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 18px;
      padding: 2px;
    }

    #clear-btn:hover {
      background-color: #414141;
      border-radius: 100%;
    }
  }
}
